@model _08_People.Models.Entity.City
@{
    ViewData["Title"] = "Details";
}

<h3>People in @Model.CityName</h3>
<hr />

<div class="container row">
    <div class="col">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Create">Add Person</a>
    </div>

    <div class="align-items-end">
        @using (Html.BeginForm("Index", "Cities", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input type="submit" value="Search" />
        }
    </div>
</div>



@if (Model.People.Count() < 1)
{
    <br />
    <p>There are no people in this city at the moment</p>
}
else
{



    <br />
    <div class="container">
        <div class="row table-primary" style="border-bottom-style: ridge; font-weight:bolder; font-size:larger">
            <div class="col">First Name</div>
            <div class="col">Last Name</div>
            <div class="col">City</div>
            <div class="col">Details</div>
        </div>


        @foreach (var Person in Model.People)
        {

            <div class="divChecker divHover tableBgColor row">

                <div class="col align-self-center">@Person.FirstName</div>
                <div class="col align-self-center">@Person.LastName</div>
                <div class="col align-self-center">@Person.City.CityName</div>
                <div class="col align-self-center">
                    <a asp-controller="People" asp-action="Details" asp-route-id="@Person.Id">
                        <input type="submit" class="btn btn-info" value="Details" />
                    </a>
                </div>

            </div>
        }





    </div>
}










<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
