@model _08_People.Models.Entity.Country
@{
    ViewData["Title"] = "Country Details";
}

<h3>Cities in @Model.CountryName</h3>
<hr />

<div class="container row">
    <div class="col row">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Create">Add City</a>
    </div>

    <div class="align-items-end">
        @using (Html.BeginForm("Index", "Cities", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input type="submit" value="Search" />
        }
    </div>
</div>



@if (Model.Cities.Count() < 1)
{
    <br />
    <p>There are no cities in this country at the moment</p>
}
else
{



    <br />
    <div class="container">
        <div class="row table-primary" style="border-bottom-style: ridge; font-weight:bolder; font-size:larger">
            <div class="col">City</div>
            <div class="col">Num. Of People</div>
            <div class="col">Country</div>
            <div class="col">Details</div>
        </div>

        @foreach (City city in Model.Cities)
        {
            <div class="divChecker divHover tableBgColor row">

                <div class="col align-self-center">@city.CityName</div>
                <div class="col align-self-center">@city.People.Count()</div>
                <div class="col align-self-center">@city.Country.CountryName</div>
                <div class="col align-self-center">
                    <a asp-controller="Country" asp-action="Details" asp-route-id="@city.Id">
                        <input type="submit" class="btn btn-info" value="Details" />
                    </a>
                </div>

            </div>
        }
    </div>
}










<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
